[submodule "Add-ons/WebExtensions/Examples"]
	path = Add-ons/WebExtensions/Examples
	url = https://github.com/mdn/webextensions-examples
[submodule "Add-ons/ring-chrome-extension"]
	path = Add-ons/ring-chrome-extension
	url = https://github.com/Bl4ckb0ne/ring-chrome-extension
